!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'login', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'login', "data-turbolinks-track" => true 
    = csrf_meta_tags
    
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "SisterWeb", :name => "description"}
            %meta{:content => "D.Dekker, K. Jones, Shay Shay, V. Martinez", :name => "author"}
              %link{:href => "../../favicon.ico", :rel => "icon"}
                %title SisterWeb
                / Bootstrap core CSS
                %link{:href => "../../dist/css/bootstrap.min.css",:rel => "stylesheet"}
              %style {:type="text/css"} 
              %script{:src => "https://code.jquery.com/jquery-1.11.3.min.js", :type => "text/javascript"}
              %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}

- provide(:title, "Log in")
.container-login
  .row
    .col-md-6.col-md-offset-3.well
      %h1 Log in 
      = form_for(:session, url: login_path) do |f|
        = f.label :email
        = f.email_field :email, class: 'form-control'
        = f.label :password
        = f.password_field :password, class: 'form-control'
        = f.submit "Log in", class: "btn btn-primary"
      %p.new
        New user? #{link_to "Sign up!", '/users/new'}