!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'login', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'login', "data-turbolinks-track" => true 
    = csrf_meta_tags

- provide(:title, "Log in")
.container-login
  .row
    .col-md-6.col-md-offset-3.well
      %h1 Log in 
      = form_for(:session, url: login_path) do |f|
        = f.label :email
        = f.email_field :email, class: 'form-control'
        = f.label :password
        = f.password_field :password, class: 'form-control'
        = f.submit "Log in", class: "btn btn-primary"
      %p.new
        New user? #{link_to "Sign up!", '/users/new'}