!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'newcomment', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'newcomment', "data-turbolinks-track" => true 
    = csrf_meta_tags
    
.container
  %p#form
    %h1 Leave a comment on
    %h2= @userblog.title

= form_tag userblog_comments_path, :method => :post do
  =render :partial => 'form'  
  = hidden_field :comment, :userblog_id, value: @userblog.id
  = hidden_field :comment, :creator, value: @current_user.name
  = hidden_field :comment, :creatorid, value: @current_user.id
  %p.save= submit_tag 'Save Changes'