!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'index', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'index', "data-turbolinks-track" => true 
    = csrf_meta_tags
    
    %meta{:charset => "utf-8"}
      %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
        %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
          %meta{:content => "SisterWeb", :name => "description"}
            %meta{:content => "D.Dekker, K. Jones, Shay Shay, V. Martinez", :name => "author"}
              %link{:href => "../../favicon.ico", :rel => "icon"}
                %title SisterWeb
                / Bootstrap core CSS
                %link{:href => "../../dist/css/bootstrap.min.css",:rel => "stylesheet"}
              %style {:type="text/css"} 
              %script{:src => "https://code.jquery.com/jquery-1.11.3.min.js", :type => "text/javascript"}
              %script{:src => "js/bootstrap.min.js", :type => "text/javascript"}
    

  %album.text-muted
    .row
      .col-lg-4
        .card
          - @users.each do |user|
            %tr
              %td= link_to "#{user.name}", user_path(user)
         
              
            
            