!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'userindex', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'userindex', "data-turbolinks-track" => true 
    = csrf_meta_tags
    
.container
  .col-md-8
    %table#users
      %thead
        %tr
          %th Browse Profiles
      %tbody
        - @users.each do |user|
          %tr
            %td= link_to "#{user.name}", user_path(user)
  
      
  
  
              
            
            