!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'users', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'users', "data-turbolinks-track" => true 
    = csrf_meta_tags
    
.row
  %aside.col-md-4
    %section.gravatar
      %h1
        = gravatar_for @user
    %section.user_info    
      %h2 
        = @user.name
      %h7  
        = @user.school_or_workplace
      %h4  
        Expert
      %h5  
        = @user.technical_expertise
      %h4  
        Newbie
      %h5  
        = @user.still_learning

      %h6= link_to 'Leave a Comment', '/comments/new'