!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'users', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'users', "data-turbolinks-track" => true 
    = csrf_meta_tags
    
- if (@user.provider == 'twitter' && @user.technical_expertise == nil)
  = render :partial => 'twitteruser'
- else
  = render :partial => 'loginuser'