
.row
  %aside.col-md-4
    %section.user_info
      %h4
        = gravatar_for @user
      %h2 
        Name:
        = @user.name
      %h4 
        School or Workplace:
        = @user.school_or_workplace
      %h4
        Technical Expertise:
        = @user.technical_expertise
      %h4
        Still Learning About:
        = @user.still_learning


%label Leave A Comment for #{@user.name}:
= form_tag user_comments_path(@user.id, @user_id) do
  = text_field :posts, class: 'form-control'
  = submit_tag 'Post Comment'