
.row
  %aside.col-md-4
    %section.user_info
      %h4
        = gravatar_for @user
      %h2 
        Name:
        = @user.name
      %h4 
        School or Workplace:
        = @user.school_or_workplace
      %h4
        Technical Expertise:
        = @user.technical_expertise
      %h4
        Still Learning About:
        = @user.still_learning


= link_to 'Leave a Comment', '/comments/new'