= @user.name
, #{@user.email}
- provide(:title, @user.name)
.row
  %aside.col-md-4
    %section.user_info
      %h1
        = gravatar_for @user
        = @user.name
        = @user.school_or_workplace
        = @user.technical_expertise
        = @user.still_learning
        