!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'userblogindex', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'userblogindex', "data-turbolinks-track" => true 
    = csrf_meta_tags
    

.container
  .col-md-8
    %table#blogs
      %thead
        %tr
          %th #{@user.name}'s Posts 
      %tbody  
        - @userblogs.each do |userblog|
          %tr
            %td= link_to "#{userblog.title}", user_userblog_path(@user.id,userblog.id)


  .col-md-4
    %tr
    - if @user.id == @current_user.id
      %i.fa.fa-pencil
      = link_to 'New Post', new_user_userblog_path
      %i.fa.fa-search
      = link_to 'Browse Profiles', '/users'
    - else
      %i.fa.fa-search
      = link_to 'Browse Profiles', '/users'
   
