!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'userblogindex', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'userblogindex', "data-turbolinks-track" => true 
    = csrf_meta_tags


.col-lg-3
  %h1
    #{@user.name}'s Posts 
  %table
    %tr
      %th
    - @userblogs.each do |userblog|
      %tr
        %td= link_to "#{userblog.title}", user_userblog_path(@user.id,userblog.id)
  
  %br/
  %br/
  %br/
  %br/
  = link_to 'Write A New Post', new_user_userblog_path