!!! 5
%html{:lang => "en"}
  %head
    %title 
    = stylesheet_link_tag 'blogpost', media: "all", "data-turbolinks-track" => true 
    = javascript_include_tag 'blogpost', "data-turbolinks-track" => true 
    = csrf_meta_tags

.container
  %p#notice= notice
  .table#notice
    %p
      %h1= @userblog.user.name 
      %h2 wrote 
      %h3= @userblog.title
    %p
      %h4= @userblog.description
  .container-user
  -if @user.id == @current_user.id
    =render :partial => 'useredit'
  -else
    =render :partial => 'readeredit'  
  

   
  %br/
  %br/
  %br/
  
  %table#comments
    %thead
      %tr
        %th Comments
      %tbody
        - @userblog.comments.each do |comment|
          %td= link_to comment.creator, user_path(comment.creatorid)
          %tr
            %td= comment.content
            
